body {
  font-family: sans-serif;
  /* text-align: center; */
}

.widget_container {
  width: 500px;
  border: 2px solid rgb(48, 102, 146);
  border-radius: 10px;
  text-align: center;

}

.icon {
  width: 40px;
  filter: grayscale(0%);
  /* height: 20px; */
}

.icon_shade {
  filter: grayscale(100%);
}

.check_number {
  padding: 10px;
  
}

.check {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.qq {
  display:inline-block;
}